.chatbox-container{
    display: flex;
    justify-content: center;
    position: static;
    height: 100%;
    width: 100%;
}

.chatbox{
    position: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 1%;
    width: 50%;
    height: 70%;
    background-color: #1b1b1e;
    margin-top: 5%;
    margin-left: 30%;
    z-index: 2;
    color: #a9bcd0;
    font-size: 20px;
    padding: 1%;
    resize: none;
    outline: none;
}

.chatbox-input{
    position: relative;
    top: 27%;
    width: 93%;
    height: 35%;
    font-size: 15px;
    border-radius: 1%;
    border-style: solid;
    background: transparent;
    resize: none;
    color: lightgray;
    outline: none;
}

.side-panel{
    position: absolute;
    border-style: none solid;
    border-width: 1px;
    border-color: gray;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #29292e;
}

.chatbox-button{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    width: 50px;
    height: 20px;
    position: relative;
    width: 10%;
    top: 28%;
    height: 32%;
    text-decoration: none;
    transition-duration: 500ms;
}

.chatbox-widgets{
    position: absolute;
    width: 49%;
    height: 10%;
    right: 10.5%;
    top: 73.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chatbox-button:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}